Repository DivanteLtd/next: changes, and which Codecov flags are due for each by the changed paths.
All: commercetools-api-client, commercetools-composables, commercetools-helpers

update docs
  .github/pull_request_template.md
  packages/core/docs/.gitignore
  packages/core/docs/.vuepress/config.js
  packages/core/docs/commercetools/api-client.md
  packages/core/docs/commercetools/composables.md
  packages/core/docs/core/composables.md
  packages/core/docs/integration/README.md
  packages/core/docs/integration/api-client.md
  packages/core/docs/integration/composables.md
Due: none

chore: update ayc backbone
  packages/about-you/api-client/package.json
Due: none

errors handling
  packages/core/rfcs/errors-habdling-in-composables.md
Due: none

update docs
  packages/core/docs/core/composables.md
  packages/core/docs/integration/composables.md
Due: none

useProduct docs
  packages/core/docs/.vuepress/config.js
  packages/core/docs/commercetools/composables.md
  packages/core/docs/commercetools/use-product.md
  packages/core/docs/core/composables.md
  packages/core/docs/core/getting-started.md
  packages/core/docs/core/use-product.md
  packages/core/docs/integration/composables.md
Due: none

more examples
  packages/core/docs/commercetools/composables.md
  packages/core/docs/commercetools/use-product.md
  packages/core/docs/core/use-product.md
Due: none

WIP - github actions for deployment and preview
  .github/workflows/deploy-preview-storefrontcloud.yml
  .github/workflows/deploy-storefrontcloud.yml
  .travis.yml
Due: none

WIP - github actions for deployment and preview
  .github/workflows/deploy-storefrontcloud.yml
Due: none

WIP - github actions - removed workdir
  .github/workflows/deploy-storefrontcloud.yml
Due: none

WIP - github actions - fixed Dockerfile path
  .github/workflows/deploy-preview-storefrontcloud.yml
  .github/workflows/deploy-storefrontcloud.yml
Due: none

WIP - github actions - universal checker
  .github/workflows/deploy-preview-storefrontcloud.yml
Due: none

WIP - github actions - deploy only for master
  .github/workflows/deploy-preview-storefrontcloud.yml
  .github/workflows/deploy-storefrontcloud.yml
Due: none

WIP - github actions - deploy only for master
  .github/workflows/deploy-preview-storefrontcloud.yml
Due: none

Use version 0.1.0 of preview-deploy
  .github/workflows/deploy-preview-storefrontcloud.yml
Due: none

docs
  packages/core/docs/.vuepress/compiled/commercetools/example.md
  packages/core/docs/.vuepress/docs/commercetools/example.md
  packages/core/docs/.vuepress/docs/commercetools/more.md
  packages/core/docs/.vuepress/docs/partials/api-client.md
  packages/core/docs/.vuepress/scripts/compileDocs.js
  packages/core/docs/.vuepress/scripts/extractSlots.js
  packages/core/docs/commercetools/api-client.md
  packages/core/docs/core/api-client.md
  packages/core/docs/core/getting-started.md
  packages/core/docs/package.json
  yarn.lock
Due: none

chore(commercetools): UseLocale, rollback (#348)
  packages/commercetools/api-client/__tests__/helpers/search.spec.ts
  packages/commercetools/api-client/src/helpers/search/index.ts
  packages/commercetools/api-client/src/types/Api.ts
  packages/commercetools/composables/__tests__/useLocale/factoryParams.ts
  packages/commercetools/composables/__tests__/useLocale/useLocale.ts
  packages/commercetools/composables/package.json
  packages/commercetools/composables/src/useLocale/factoryParams.ts
  packages/commercetools/composables/src/useLocale/index.ts
  packages/commercetools/composables/src/useProduct/index.ts
  packages/commercetools/theme/middleware/commercetools.js
  packages/commercetools/theme/nuxt.config.js
  packages/commercetools/theme/plugins/commercetools.js
  packages/commercetools/theme/plugins/i18n.js
  packages/core/theme-module/index.js
  packages/core/theme-module/theme/components/LocaleSelector.vue
  packages/core/theme-module/theme/components/RelatedProducts.vue
  packages/core/theme-module/theme/pages/Category.vue
  packages/core/theme-module/theme/pages/Product.vue
Due: commercetools-api-client, commercetools-composables

implemented user order details
  packages/commercetools/api-client/src/fragments/index.ts
  packages/commercetools/composables/__tests__/getters/orderHelpers.spec.ts
  packages/commercetools/composables/src/getters/orderGetters.ts
  packages/core/theme-module/index.js
  packages/core/theme-module/theme/pages/MyAccount.vue
  packages/core/theme-module/theme/pages/MyAccount/OrderDetails.vue
  packages/core/theme-module/theme/pages/MyAccount/OrderHistory.vue
Due: commercetools-api-client, commercetools-composables

Fixes according to the code review
  packages/core/theme-module/theme/pages/MyAccount/OrderDetails.vue
Due: none

taxes as array + increased test coverage
  packages/commercetools/composables/__tests__/getters/orderHelpers.spec.ts
  packages/commercetools/composables/src/getters/orderGetters.ts
  packages/core/theme-module/theme/pages/MyAccount/OrderDetails.vue
Due: commercetools-composables

agnostic address proposal
  packages/core/rfcs/agnostic-address.md
Due: none

changes according to CR
  packages/commercetools/composables/__tests__/getters/orderHelpers.spec.ts
  packages/commercetools/composables/src/getters/orderGetters.ts
  packages/core/theme-module/theme/pages/MyAccount/OrderDetails.vue
Due: commercetools-composables

simplified string
  packages/commercetools/composables/src/getters/orderGetters.ts
Due: commercetools-composables

added coma separator
  packages/commercetools/composables/src/getters/orderGetters.ts
Due: commercetools-composables

simplified transformation
  packages/commercetools/composables/src/getters/orderGetters.ts
Due: commercetools-composables

template changes. added onSSR
  packages/commercetools/composables/__tests__/getters/orderHelpers.spec.ts
  packages/commercetools/composables/src/getters/orderGetters.ts
  packages/core/interfaces/src/index.ts
  packages/core/theme-module/theme/pages/MyAccount/OrderDetails.vue
Due: commercetools-composables

Removed order number. Added TODO
  packages/commercetools/composables/__tests__/getters/orderHelpers.spec.ts
  packages/commercetools/composables/src/getters/orderGetters.ts
  packages/core/theme-module/theme/pages/MyAccount/OrderDetails.vue
Due: commercetools-composables

Changes according to CR
  packages/core/theme-module/theme/pages/MyAccount.vue
  packages/core/theme-module/theme/pages/MyAccount/OrderDetails.vue
Due: none

rfc proposition
  packages/core/rfcs/order-getters-product-data.md
Due: none

fix start
  dev/docker/vue-storefront.sh
Due: none

Changed host and port for nuxt
  dev/docker/vue-storefront.sh
  package.json
Due: none

price type proposal
  packages/core/rfcs/extending-agnostic-price.md
Due: none

Added expose to dockerfile
  dev/docker/Dockerfile
Due: none

Added expose to dockerfile
  dev/docker/Dockerfile
  dev/docker/vue-storefront.sh
Due: none

WIP - test if config file is used
  packages/commercetools/theme/nuxt.config.js
Due: none

Path conditions:
  commercetools-api-client: any of: packages/commercetools/api-client, but not: packages/commercetools/api-client/tests, packages/commercetools/composables/tests, packages/commercetools/helpers/tests
  commercetools-composables: any of: packages/commercetools/composables, but not: packages/commercetools/api-client/tests, packages/commercetools/composables/tests, packages/commercetools/helpers/tests
  commercetools-helpers: any of: packages/commercetools/helpers, but not: packages/commercetools/api-client/tests, packages/commercetools/composables/tests, packages/commercetools/helpers/tests
