Repository DivanteLtd/next: changes, and which Codecov flags are due for each by the changed paths.
All: commercetools-api-client, commercetools-composables, commercetools-helpers

typings
  packages/boilerplate/api-client/.gitignore
  packages/commercetools/composables/src/useProduct/index.ts
  packages/commercetools/composables/src/useUser/index.ts
  packages/commercetools/helpers/src/_utils.ts
  packages/commercetools/helpers/src/index.ts
  packages/commercetools/theme/pages/Checkout.vue
  packages/commercetools/theme/plugins/commercetools.js
  packages/core/docs/ApiClient.vue
  packages/core/interfaces/index.ts
  packages/core/theme-module/theme/components/CartSidebar.vue
  packages/core/theme-module/theme/pages/Category.vue
Due: commercetools-composables, commercetools-helpers

typings
  packages/commercetools/helpers/src/index.ts
Due: commercetools-helpers

remove unnecessary code
  packages/commercetools/theme/plugins/commercetools.js
Due: none

interfaces
  packages/commercetools/composables/src/useCart/index.ts
  packages/commercetools/composables/src/useCategory/index.ts
  packages/commercetools/composables/src/useCheckout/index.ts
  packages/commercetools/composables/src/useUser/index.ts
  packages/core/interfaces/index.ts
Due: commercetools-composables

correct array filter
  packages/commercetools/helpers/src/index.ts
  packages/commercetools/helpers/tests/productHelpers.spec.ts
  packages/core/interfaces/index.ts
  packages/core/theme-module/theme/components/RelatedProducts.vue
Due: commercetools-helpers

update interfaces file
  packages/core/interfaces/index.ts
Due: none

CR fixes
  packages/commercetools/composables/src/index.ts
  packages/commercetools/composables/src/useCart/index.ts
  packages/commercetools/composables/src/useCategory/index.ts
  packages/commercetools/composables/src/useCheckout/index.ts
  packages/commercetools/composables/src/useLocale/index.ts
  packages/commercetools/composables/src/useProduct/index.ts
  packages/commercetools/composables/src/useUser/index.ts
  packages/core/docs/ApiClient.vue
  packages/core/interfaces/index.ts
Due: commercetools-composables

update tests
  packages/commercetools/composables/src/useCart/index.ts
Due: commercetools-composables

update footer
  packages/core/theme-module/theme/components/AppFooter.vue
Due: none

add missing css vars import
  packages/core/theme-module/theme/components/AppFooter.vue
Due: none

fix footer
  packages/core/theme-module/theme/components/AppFooter.vue
Due: none

fix vars
  packages/core/theme-module/theme/components/AppFooter.vue
Due: none

move files to nuxt module
  .eslintrc.json
  packages/commercetools/theme/assets/README.md
  packages/commercetools/theme/nuxt.config.js
  packages/core/theme-module/index.js
  packages/core/theme-module/package.json
  packages/core/theme-module/theme/assets/ui-state.ts
  packages/core/theme-module/theme/pages/Checkout.vue
  packages/core/theme-module/theme/pages/Checkout/OrderReview.vue
  packages/core/theme-module/theme/pages/Checkout/Payment.vue
  packages/core/theme-module/theme/pages/Checkout/PersonalDetails.vue
  packages/core/theme-module/theme/pages/Checkout/Shipping.vue
  packages/core/theme-module/theme/pages/Checkout/ThankYou.vue
  packages/core/theme-module/theme/pages/Product.vue
  packages/core/theme-module/theme/pages/index.vue
Due: none

setup
  packages/about-you/api-client/src/index.ts
  packages/boilerplate/composables/src/useProduct/index.ts
  packages/commercetools/docs/api-client.md
  packages/core/theme-module/theme/components/LocaleSelector.vue
  packages/core/theme-module/theme/pages/Home.vue
Due: none

refactor composables
  packages/commercetools/composables/src/useCart/index.ts
  packages/commercetools/composables/src/useCategory/index.ts
  packages/commercetools/composables/src/useCheckout/index.ts
  packages/commercetools/composables/src/useLocale/index.ts
  packages/commercetools/composables/src/useProduct/index.ts
  packages/commercetools/composables/src/useUser/index.ts
  packages/commercetools/composables/tests/useCart/useCart.spec.ts
  packages/commercetools/composables/tests/useCategory/useCategory.spec.ts
  packages/commercetools/composables/tests/useLocale/useLocale.spec.ts
  packages/commercetools/composables/tests/useProduct/useProduct.spec.ts
  packages/commercetools/composables/tests/useUser/useUser.spec.ts
  packages/core/interfaces/index.ts
  packages/core/theme-module/theme/components/LoginModal.vue
  packages/core/theme-module/theme/components/RelatedProducts.vue
Due: commercetools-composables

misisng uppercase
  packages/commercetools/composables/src/useProduct/index.ts
Due: commercetools-composables

proceed
  .eslintrc.json
  packages/commercetools/api-client/src/helpers/search/index.ts
  packages/commercetools/api-client/src/types/Api.ts
  packages/commercetools/api-client/tests/api/getProducts/getProducts.spec.ts
  packages/commercetools/api-client/tests/helpers/search.spec.ts
  packages/commercetools/composables/src/helpers/internals/enhanceCategory.ts
  packages/commercetools/composables/src/helpers/internals/index.ts
  packages/commercetools/composables/src/useCategory/index.ts
  packages/commercetools/composables/src/useProduct/index.ts
  packages/commercetools/composables/tests/helpers/enhanceCategory.spec.ts
  packages/commercetools/composables/tests/useCategory/useCategory.spec.ts
  packages/commercetools/docs/api-client.md
  packages/core/theme-module/theme/components/RelatedProducts.vue
  packages/core/theme-module/theme/pages/Category.vue
  packages/core/theme-module/theme/pages/Home.vue
Due: commercetools-api-client, commercetools-composables

update
  packages/core/interfaces/index.ts
Due: none

useCategory factory
  packages/commercetools/composables/src/useCart/index.ts
  packages/commercetools/composables/src/useCategory/index.ts
  packages/core/factories/lib/index.cjs.js
  packages/core/factories/lib/index.d.ts
  packages/core/factories/lib/index.es.js
  packages/core/factories/lib/useCategory.d.ts
  packages/core/factories/package.json
  packages/core/factories/rollup.config.js
  packages/core/factories/src/index.ts
  packages/core/factories/src/useCategory.ts
  packages/core/factories/tsconfig.json
  packages/core/factories/yarn-error.log
  packages/core/interfaces/index.ts
Due: commercetools-composables

feat: useProductFactory draft
  package.json
  packages/commercetools/composables/src/useProduct/index.ts
  packages/core/factories/lib/index.cjs.js
  packages/core/factories/lib/index.d.ts
  packages/core/factories/lib/index.es.js
  packages/core/factories/lib/useCategory.d.ts
  packages/core/factories/src/index.ts
  packages/core/factories/src/useCategoryFactory.ts
  packages/core/factories/src/useProductFactory.ts
Due: commercetools-composables

chore: ignore lib folders
  .gitignore
Due: none

useCartFactory
  package.json
  packages/commercetools/composables/src/useCart/index.ts
  packages/commercetools/composables/src/useCategory/index.ts
  packages/commercetools/theme/nuxt.config.js
  packages/core/factories/lib/index.cjs.js
  packages/core/factories/lib/index.d.ts
  packages/core/factories/lib/index.es.js
  packages/core/factories/lib/useCart.d.ts
  packages/core/factories/lib/useCategory.d.ts
  packages/core/factories/src/index.ts
  packages/core/factories/src/useCart.ts
  packages/core/factories/src/useCategory.ts
  packages/core/factories/tsconfig.json
  packages/core/interfaces/index.ts
  packages/core/utils/rollup.config.js
  yarn.lock
Due: commercetools-composables

interated basic info with API
  packages/boilerplate/theme/sfui.scss
  packages/commercetools/api-client/src/api/getMe/defaultQuery.ts
  packages/core/docs/Theme.vue
  packages/core/theme-module/theme/pages/MyAccount.vue
  packages/core/theme-module/theme/pages/MyAccount/MyProfile.vue
  packages/core/theme-module/theme/pages/MyAccount/ShippingDetails.vue
Due: commercetools-api-client

Removed wrong changes
  packages/boilerplate/theme/sfui.scss
  packages/core/docs/Theme.vue
Due: none

Filter shipping addresses
  packages/commercetools/api-client/src/api/getMe/defaultQuery.ts
  packages/core/theme-module/theme/pages/MyAccount.vue
Due: commercetools-api-client

refactored shipping details
  packages/commercetools/api-client/src/api/getMe/defaultQuery.ts
  packages/core/theme-module/theme/pages/MyAccount.vue
  packages/core/theme-module/theme/pages/MyAccount/ShippingDetails.vue
Due: commercetools-api-client

changes according to the CR
  packages/commercetools/api-client/src/api/getMe/defaultQuery.ts
  packages/commercetools/api-client/src/fragments/index.ts
  packages/core/theme-module/theme/pages/MyAccount/ShippingDetails.vue
Due: commercetools-api-client

del api fctry
  packages/core/factories/src/apiClientFactory.ts
Due: none

Added useUserFactory
  packages/core/factories/src/useUserFactory.ts
Due: none

Factory for useUser types change
  .gitignore
  packages/commercetools/composables/src/useUser/index.ts
  packages/core/factories/src/useUserFactory.ts
Due: commercetools-composables

Change password factory method
  packages/commercetools/composables/src/useUser/index.ts
  packages/core/factories/src/useUserFactory.ts
Due: commercetools-composables

useCartFactoryTests
  package.json
  packages/core/factories/jest.config.js
  packages/core/factories/src/useCartFactory.ts
  packages/core/factories/tests/_mountComposable.ts
  packages/core/factories/tests/setup.ts
  packages/core/factories/tests/useCartFactory.spec.ts
  packages/core/factories/tests/useProductFactory.spec.ts
  packages/core/interfaces/index.ts
Due: none

Changed password and login method rewritten
  packages/commercetools/composables/src/useUser/index.ts
  packages/core/factories/src/useUserFactory.ts
Due: commercetools-composables

Add useUser factory to export in core
  packages/core/factories/src/index.ts
Due: none

Implemented agnostic factory and composable
  packages/commercetools/composables/src/useUser/index.ts
  packages/core/factories/src/useUserFactory.ts
Due: commercetools-composables

Error deleted
  packages/commercetools/composables/src/useUser/index.ts
  packages/core/factories/src/useUserFactory.ts
Due: commercetools-composables

tests and build
  .travis.yml
  package.json
  packages/commercetools/composables/src/useCart/index.ts
  packages/core/factories/lib/index.cjs.js
  packages/core/factories/lib/index.es.js
  packages/core/factories/src/useCartFactory.ts
  packages/core/factories/src/useCategoryFactory.ts
  packages/core/factories/src/useProductFactory.ts
  packages/core/factories/tests/useCartFactory.spec.ts
  packages/core/interfaces/index.ts
Due: commercetools-composables

update TS for factory params
  packages/core/factories/src/useCategoryFactory.ts
Due: none

name cleanup
  packages/commercetools/composables/src/useUser/index.ts
  packages/commercetools/composables/tests/useUser/useUser.spec.ts
Due: commercetools-composables

fix example useUser test
  packages/commercetools/composables/tests/useUser/useUser.spec.ts
Due: none

Path conditions:
  commercetools-api-client: any of: packages/commercetools/api-client, but not: packages/commercetools/api-client/tests, packages/commercetools/composables/tests, packages/commercetools/helpers/tests
  commercetools-composables: any of: packages/commercetools/composables, but not: packages/commercetools/api-client/tests, packages/commercetools/composables/tests, packages/commercetools/helpers/tests
  commercetools-helpers: any of: packages/commercetools/helpers, but not: packages/commercetools/api-client/tests, packages/commercetools/composables/tests, packages/commercetools/helpers/tests
