Repository DivanteLtd/next: changes, and which Codecov flags are due for each by the changed paths.
All: commercetools-api-client, commercetools-composables, commercetools-helpers

codecov.yml
  codecov.yml
Due: none

disable PR comments
  codecov.yml
Due: none

ignore paths
  codecov.yml
Due: none

ignore paths
  codecov.yml
  packages/commercetools/jest.base.config.js
Due: none

basic composable setup
  packages/commercetools/api-client/package.json
  packages/commercetools/composables/package.json
  packages/commercetools/composables/src/useCategory/index.ts
  packages/commercetools/theme/nuxt.config.js
  packages/commercetools/theme/plugins/commercetools.js
  packages/commercetools/theme/sfui.scss
  packages/core/interfaces/index.ts
  packages/core/interfaces/package.json
  packages/core/nuxt-module/package.json
  yarn.lock
Due: commercetools-api-client, commercetools-composables

basic category page with url structure
  packages/commercetools/composables/package.json
  packages/commercetools/composables/src/index.ts
  packages/commercetools/theme/pages/c/_index.vue
Due: commercetools-composables

multiple slugs
  packages/commercetools/theme/nuxt.config.js
  packages/commercetools/theme/pages/Category.vue
  packages/commercetools/theme/pages/c/_index.vue
Due: none

display default content from composable and set up dependencies
  packages/commercetools/composables/package.json
  packages/commercetools/composables/src/useCategory/index.ts
  packages/commercetools/theme/nuxt.config.js
  packages/commercetools/theme/pages/Category.vue
  yarn.lock
Due: commercetools-composables

add commercetools api to composables
  packages/commercetools/composables/package.json
  packages/commercetools/theme/nuxt.config.js
  packages/commercetools/theme/plugins/commercetools.js
Due: commercetools-composables

display dummy product
  packages/commercetools/composables/src/useCategory/index.ts
Due: commercetools-composables

update comment
  packages/commercetools/theme/nuxt.config.js
Due: none

task/43
  packages/commercetools/api-client/package.json
  packages/commercetools/api-client/src/api/getProduct.ts
  packages/commercetools/api-client/src/api/getProduct/defaultQuery.ts
  packages/commercetools/api-client/src/api/getProduct/index.ts
  packages/commercetools/api-client/src/helpers/createCommerceToolsLink/getStorage.ts
  packages/commercetools/api-client/src/helpers/createCommerceToolsLink/tokenCache.ts
  packages/commercetools/api-client/src/index.ts
  packages/commercetools/api-client/src/types/GraphQL.ts
  packages/commercetools/api-client/src/types/Product.ts
  packages/commercetools/api-client/tests/api/getProducts.spec.ts
  packages/commercetools/api-client/tests/api/getProducts/getProducts.spec.ts
  packages/commercetools/api-client/tests/createTestApolloClient.ts
  packages/commercetools/api-client/tests/helpers/createCommerceToolsLink.spec.ts
  packages/commercetools/api-client/tests/helpers/getAccessToken.spec.ts
  packages/commercetools/api-client/tests/helpers/tokenCache.spec.ts
  packages/commercetools/api-client/tests/resolvers/index.ts
  packages/commercetools/api-client/tests/setup.ts
  packages/commercetools/api-client/tsconfig.json
  packages/commercetools/theme/nuxt.config.js
  packages/commercetools/theme/pages/index.vue
  packages/commercetools/theme/plugins/commercetoolsApi.ts
  packages/commercetools/theme/sfui.scss
Due: commercetools-api-client

task/43
  packages/commercetools/api-client/tests/helpers/createCommerceToolsLink.spec.ts
Due: commercetools-api-client

update test
  packages/commercetools/api-client/tests/helpers/createCommerceToolsLink.spec.ts
Due: commercetools-api-client

remove ci delay
  codecov.yml
Due: none

update query
  packages/commercetools/api-client/jest.config.js
  packages/commercetools/api-client/src/api/getProduct/defaultQuery.ts
  packages/commercetools/api-client/src/api/getProduct/index.ts
  packages/commercetools/api-client/src/helpers/createCommerceToolsLink/getAccessToken.ts
  packages/commercetools/api-client/src/helpers/createCommerceToolsLink/index.ts
  packages/commercetools/api-client/src/helpers/createCommerceToolsLink/tokenCache.ts
  packages/commercetools/api-client/src/helpers/i18n/index.ts
  packages/commercetools/api-client/src/helpers/search/index.ts
  packages/commercetools/api-client/src/types/Api.ts
  packages/commercetools/api-client/src/types/Product.ts
  packages/commercetools/api-client/tests/api/getProducts/getProducts.spec.ts
  packages/commercetools/api-client/tests/helpers/createCommerceToolsLink.spec.ts
  packages/commercetools/api-client/tests/helpers/getAccessToken.spec.ts
  packages/commercetools/api-client/tests/helpers/search.spec.ts
  packages/commercetools/api-client/tests/helpers/tokenCache.spec.ts
  packages/commercetools/api-client/tests/setup.ts
  packages/commercetools/theme/pages/index.vue
Due: commercetools-api-client

update setup
  packages/commercetools/api-client/src/api/getProduct/index.ts
  packages/commercetools/api-client/src/helpers/i18n/index.ts
  packages/commercetools/api-client/src/index.ts
  packages/commercetools/api-client/src/types/setup.ts
  packages/commercetools/api-client/tests/setup.ts
  packages/commercetools/theme/plugins/commercetoolsApi.ts
Due: commercetools-api-client

basic docs structure, removed unnecessary ct api file
  packages/commercetools/theme/nuxt.config.js
  packages/commercetools/theme/plugins/commercetools.js
  packages/commercetools/theme/plugins/commercetoolsApi.ts
  packages/core/docs/.vuepress/config.js
  packages/core/docs/commerce-tools/introduction.md
  packages/core/docs/commercetools/api-client.md
  packages/core/docs/commercetools/introduction.md
Due: none

update docs
  packages/core/docs/.vuepress/config.js
  packages/core/docs/commercetools/api-client.md
Due: none

h1 -> h2
  packages/core/docs/commercetools/api-client.md
Due: none

ui(SideCart) add side cart component and composable
  packages/commercetools/composables/src/index.ts
  packages/commercetools/composables/src/useCart/index.ts
  packages/commercetools/theme/components/SideCart.vue
  packages/commercetools/theme/layouts/default.vue
Due: commercetools-composables

ui(SideCart) UiState addition
  packages/commercetools/theme/assets/ui-state.js
  packages/commercetools/theme/components/SideCart.vue
Due: none

ui(SideCart) WIP ui-state
  packages/commercetools/theme/assets/ui-state.js
  packages/commercetools/theme/components/AppHeader.vue
  packages/commercetools/theme/components/SideCart.vue
Due: none

ui(SideCart) finish ui-state
  packages/commercetools/theme/assets/ui-state.js
  packages/commercetools/theme/components/AppHeader.vue
  packages/commercetools/theme/components/SideCart.vue
Due: none

chore(UiState) refactor
  packages/commercetools/theme/assets/ui-state.js
  packages/commercetools/theme/components/AppHeader.vue
  packages/commercetools/theme/components/SideCart.vue
Due: none

chore(UiState) remove smicolons for consistency
  packages/commercetools/theme/components/SideCart.vue
Due: none

Initial mobile header
  .gitignore
  packages/commercetools/theme/assets/flags/eu.svg
  packages/commercetools/theme/assets/flags/us.svg
  packages/commercetools/theme/assets/logo-horizontal.jpg
  packages/commercetools/theme/assets/logo-square.svg
  packages/commercetools/theme/components/AppHeader.vue
  packages/commercetools/theme/components/CurrencySwitcher.vue
  packages/commercetools/theme/components/FlagOption.vue
Due: none

Working POC of SSR products fetch
  packages/commercetools/composables/src/helpers/internals/getSsrData.ts
  packages/commercetools/composables/src/helpers/internals/index.ts
  packages/commercetools/composables/src/types/SSR.ts
  packages/commercetools/composables/src/useCategory/index.ts
  packages/commercetools/theme/pages/Category.vue
Due: commercetools-composables

simplified component logic
  packages/commercetools/composables/src/useCategory/index.ts
  packages/commercetools/theme/pages/Category.vue
Due: commercetools-composables

updated master and moved SSR logic into composable
  packages/commercetools/composables/src/types/SSR.ts
  packages/commercetools/composables/src/useCategory/index.ts
  packages/commercetools/theme/pages/Category.vue
Due: commercetools-composables

updated useCategory types
  packages/commercetools/composables/src/useCategory/index.ts
  packages/core/interfaces/index.ts
Due: commercetools-composables

implemented logic for useLanguage composable
  packages/commercetools/composables/src/index.ts
  packages/commercetools/composables/src/useLanguage/index.ts
  packages/commercetools/theme/components/AppTopBar.vue
  packages/commercetools/theme/layouts/default.vue
  packages/commercetools/theme/package.json
  packages/core/interfaces/index.ts
  yarn.lock
Due: commercetools-composables

Working POC of language selector
  packages/commercetools/api-client/src/api/createCart/index.ts
  packages/commercetools/api-client/src/api/getCart/index.ts
  packages/commercetools/api-client/src/api/getCategory/index.ts
  packages/commercetools/api-client/src/api/getMe/index.ts
  packages/commercetools/api-client/src/api/getProduct/index.ts
  packages/commercetools/api-client/src/api/updateCart/index.ts
  packages/commercetools/api-client/src/helpers/search/index.ts
  packages/commercetools/api-client/src/index.ts
  packages/commercetools/api-client/src/types/setup.ts
  packages/commercetools/composables/src/index.ts
  packages/commercetools/composables/src/useLanguage/index.ts
  packages/commercetools/composables/src/useLocale/index.ts
  packages/commercetools/theme/components/AppTopBar.vue
  packages/commercetools/theme/plugins/commercetools.js
  packages/core/interfaces/index.ts
Due: commercetools-api-client, commercetools-composables

Storing a language in localStorage
  packages/commercetools/theme/components/AppTopBar.vue
Due: none

Working country and language selector
  packages/commercetools/api-client/src/api/createCart/index.ts
  packages/commercetools/api-client/src/api/getCart/index.ts
  packages/commercetools/api-client/src/api/getCategory/index.ts
  packages/commercetools/api-client/src/api/getMe/index.ts
  packages/commercetools/api-client/src/api/getProduct/index.ts
  packages/commercetools/api-client/src/api/updateCart/index.ts
  packages/commercetools/api-client/src/helpers/search/index.ts
  packages/commercetools/api-client/src/index.ts
  packages/commercetools/api-client/src/types/setup.ts
  packages/commercetools/composables/src/helpers/internals/enhanceZones.ts
  packages/commercetools/composables/src/useLocale/index.ts
  packages/commercetools/theme/components/AppTopBar.vue
  packages/commercetools/theme/plugins/commercetools.js
  packages/core/interfaces/index.ts
Due: commercetools-api-client, commercetools-composables

Removed old file
  packages/commercetools/composables/src/helpers/internals/enhanceZones.ts
Due: commercetools-composables

Correct default locale values
  packages/commercetools/theme/plugins/commercetools.js
Due: none

add search on mobile after sfui update, fix currency switcher's select
  packages/commercetools/theme/components/AppHeader.vue
  packages/commercetools/theme/components/CurrencySwitcher.vue
Due: none

refactoring + implemented graphQL
  packages/commercetools/api-client/src/api/getProjectProjection/defaultQuery.ts
  packages/commercetools/api-client/src/api/getProjectProjection/index.ts
  packages/commercetools/api-client/src/index.ts
  packages/commercetools/composables/src/useLocale/index.ts
  packages/commercetools/theme/components/AppTopBar.vue
  packages/commercetools/theme/plugins/commercetools.js
  packages/core/interfaces/index.ts
Due: commercetools-api-client, commercetools-composables

updated config
  packages/commercetools/theme/plugins/commercetools.js
Due: none

Path conditions:
  commercetools-api-client: any of: packages/commercetools/api-client
  commercetools-composables: any of: packages/commercetools/composables
  commercetools-helpers: any of: packages/commercetools/helpers
