Repository DivanteLtd/next: changes, and which Codecov flags are due for each by the changed paths.
All: commercetools-api-client, commercetools-composables, commercetools-helpers

update build
  package.json
  packages/core/utils/rollup.config.js
Due: none

remove lib
  packages/core/factories/lib/index.cjs.js
  packages/core/factories/lib/index.d.ts
  packages/core/factories/lib/index.es.js
Due: none

add yarn error to igonore
  packages/core/utils/.gitignore
Due: none

readme update
  README.md
Due: none

docs build
  package.json
  packages/commercetools/composables/tests/useCart/useCart.spec.ts
  packages/commercetools/composables/tests/useCategory/useCategory.spec.ts
  packages/commercetools/composables/tests/useProduct/useProduct.spec.ts
  packages/core/factories/jest.config.js
Due: none

update tests
  packages/boilerplate/theme/sfui.scss
  packages/commercetools/composables/tests/useCart/useCart.spec.ts
  packages/commercetools/composables/tests/useCart/useCart.ts
  packages/commercetools/composables/tests/useCategory/useCategory.spec.ts
  packages/commercetools/composables/tests/useCategory/useCategory.ts
  packages/commercetools/composables/tests/useProduct/useProduct.spec.ts
  packages/commercetools/composables/tests/useProduct/useProduct.ts
  packages/commercetools/composables/tests/useUser/useUser.ts
  yarn.lock
Due: none

user address factory
  packages/commercetools/composables/src/index.ts
  packages/commercetools/composables/src/useUser/index.ts
  packages/commercetools/composables/src/useUserAddress/index.ts
  packages/core/factories/src/index.ts
  packages/core/factories/src/useUserAddressFactory.ts
  packages/core/interfaces/index.ts
  packages/core/theme-module/theme/pages/MyAccount.vue
Due: commercetools-composables

working with my account with factories
  packages/commercetools/composables/src/useUser/index.ts
  packages/core/interfaces/src/index.ts
  packages/core/theme-module/theme/pages/MyAccount.vue
  packages/core/theme-module/theme/pages/MyAccount/MyProfile.vue
  packages/core/theme-module/theme/pages/MyAccount/ShippingDetails.vue
Due: commercetools-composables

removed prismic
  .travis.yml
  README.md
  dev/docker/Dockerfile
  package.json
  packages/commercetools/theme/nuxt.config.js
  packages/commercetools/theme/package.json
  packages/commercetools/theme/pages/Prismic.vue
  packages/commercetools/theme/plugins/prismic.js
  packages/commercetools/theme/test/components/prismic/PrismicBlock.spec.js
  packages/prismic/.gitignore
  packages/prismic/README.md
  packages/prismic/jest.config.js
  packages/prismic/package.json
  packages/prismic/rollup.config.js
  packages/prismic/src/composables/index.ts
  packages/prismic/src/composables/usePrismic/index.ts
  packages/prismic/src/composables/usePrismic/loadDocuments.ts
  packages/prismic/src/composables/usePrismic/transformQuery.ts
  packages/prismic/src/helpers/_utils.ts
  packages/prismic/src/helpers/index.ts
  packages/prismic/src/index.ts
  packages/prismic/src/types/index.ts
  packages/prismic/tests/helpers/_transformBlock.spec.ts
  packages/prismic/tests/helpers/prismicHelpers.spec.ts
  packages/prismic/tests/mocks/ArticleExampleMock.ts
  packages/prismic/tests/mocks/LegalExampleMock.ts
  packages/prismic/tests/setup.ts
  packages/prismic/tests/setup/setup.spec.ts
  packages/prismic/tests/transformQuery.spec.ts
  packages/prismic/tests/usePrismic.spec.ts
  packages/prismic/tsconfig.json
  yarn.lock
Due: none

Removed unnecesarry tests
  packages/commercetools/theme/test/components/prismic/PrismicBlock.spec.js
Due: none

integration with API
  packages/commercetools/api-client/src/api/addCustomerAddress/index.ts
  packages/commercetools/api-client/src/api/assignCustomerAddress/index.ts
  packages/commercetools/api-client/src/api/removeCustomerAddress/index.ts
  packages/commercetools/api-client/src/api/updateCustomerAddress/index.ts
  packages/commercetools/api-client/src/api/updateCustomerPersonalDetails/index.ts
  packages/commercetools/api-client/src/api/updateMyCustomer/defaultMutation.ts
  packages/commercetools/api-client/src/index.ts
  packages/commercetools/api-client/src/types/Api.ts
  packages/commercetools/composables/src/useUser/index.ts
  packages/commercetools/composables/src/useUserAddress/index.ts
  packages/commercetools/theme/nuxt.config.js
  packages/core/factories/src/useUserAddressFactory.ts
  packages/core/interfaces/src/index.ts
  packages/core/theme-module/theme/pages/MyAccount/MyProfile.vue
  packages/core/theme-module/theme/pages/MyAccount/ShippingDetails.vue
Due: commercetools-api-client, commercetools-composables

CT composables tests
  .github/workflows/core-team-review.yml
Due: none

factory
  packages/core/factories/__tests__/apiClientFactory.spec.ts
  packages/core/factories/package.json
  packages/core/factories/src/apiClientFactory.ts
  packages/core/factories/src/index.ts
Due: none

updated factory
  packages/core/factories/__tests__/apiClientFactory.spec.ts
  packages/core/factories/src/apiClientFactory.ts
Due: none

finish apiClientFactory
  packages/core/factories/__tests__/apiClientFactory.spec.ts
  packages/core/factories/src/apiClientFactory.ts
Due: none

rfc
  packages/core/docs/.vuepress/config.js
  packages/core/docs/contributing/workflow.md
Due: none

Preview
  .travis.yml
Due: none

chore: add PR title check
  .github/workflows/pr_title_check.yml
Due: none

chore: change GH action for PR check
  .github/workflows/pr_title_check.yml
Due: none

refactored + tests
  packages/commercetools/composables/src/useUser/index.ts
  packages/commercetools/composables/src/useUserAddress/index.ts
  packages/commercetools/composables/tests/useUserAddress/useUserAddress.ts
  packages/core/factories/__tests__/useCartFactory.spec.ts
  packages/core/factories/__tests__/useCategoryFactory.spec.ts
  packages/core/factories/__tests__/useUserAddress.spec.ts
  packages/core/factories/jest.config.js
  packages/core/factories/src/useUserAddressFactory.ts
  packages/core/interfaces/src/index.ts
  packages/core/theme-module/theme/components/LoginModal.vue
  packages/core/theme-module/theme/pages/MyAccount/MyProfile.vue
Due: commercetools-composables

updated return data
  packages/core/factories/src/useUserAddressFactory.ts
Due: none

fix imports
  packages/commercetools/composables/src/helpers/internals/mapPaginationParams.ts
  packages/commercetools/composables/src/useCheckout/index.ts
  packages/commercetools/composables/src/useLocale/index.ts
  packages/commercetools/composables/src/useUser/authenticate.ts
  packages/commercetools/composables/src/useUser/factoryParams.ts
  packages/commercetools/composables/src/useUser/index.ts
Due: commercetools-composables

token handle
  packages/commercetools/api-client/src/helpers/createCommerceToolsLink/getStorage.ts
  packages/commercetools/api-client/src/helpers/createCommerceToolsLink/loadAccessToken.ts
  packages/commercetools/api-client/src/helpers/createCommerceToolsLink/tokenCache.ts
  packages/commercetools/api-client/src/index.ts
  packages/commercetools/api-client/src/types/setup.ts
  packages/commercetools/theme/nuxt.config.js
  packages/commercetools/theme/package.json
  packages/commercetools/theme/plugins/commercetools.js
  yarn.lock
Due: commercetools-api-client

fix tests
  packages/commercetools/api-client/__tests__/helpers/tokenCache.spec.ts
  packages/commercetools/api-client/src/helpers/createCommerceToolsLink/tokenCache.ts
Due: commercetools-api-client

udpate tests
  packages/commercetools/composables/__tests__/useCart/currentCart.spec.ts
Due: commercetools-composables

cr
  packages/commercetools/api-client/__tests__/api/customerSignOut/customerSignOut.spec.ts
  packages/commercetools/api-client/__tests__/helpers/getAccessToken.spec.ts
  packages/commercetools/api-client/__tests__/helpers/tokenCache.spec.ts
  packages/commercetools/api-client/__tests__/setup.ts
  packages/commercetools/api-client/src/api/customerSignOut/index.ts
  packages/commercetools/api-client/src/helpers/createCommerceToolsLink/loadAccessToken.ts
  packages/commercetools/api-client/src/helpers/createCommerceToolsLink/tokenCache.ts
  packages/core/docs/commercetools/api-client.md
Due: commercetools-api-client

cr
  packages/commercetools/api-client/__tests__/api/customerSignOut/customerSignOut.spec.ts
  packages/commercetools/api-client/__tests__/helpers/getAccessToken.spec.ts
  packages/commercetools/api-client/__tests__/setup.ts
  packages/commercetools/api-client/src/api/customerSignOut/index.ts
  packages/commercetools/api-client/src/helpers/createCommerceToolsLink/loadAccessToken.ts
  packages/commercetools/api-client/src/index.ts
  packages/commercetools/api-client/src/types/setup.ts
  packages/commercetools/theme/plugins/commercetools.js
Due: commercetools-api-client

cr
  packages/core/docs/commercetools/api-client.md
Due: none

token handling
  packages/commercetools/api-client/__tests__/helpers/createCommerceToolsLink.spec.ts
  packages/commercetools/api-client/__tests__/helpers/getAccessToken.spec.ts
  packages/commercetools/api-client/__tests__/helpers/setup.spec.ts
  packages/commercetools/api-client/__tests__/helpers/tokenFlow.spec.ts
  packages/commercetools/api-client/__tests__/setup.ts
  packages/commercetools/api-client/src/helpers/createAccessToken/index.ts
  packages/commercetools/api-client/src/helpers/createCommerceToolsLink/index.ts
  packages/commercetools/api-client/src/helpers/createCommerceToolsLink/loadAccessToken.ts
  packages/commercetools/api-client/src/index.ts
  packages/commercetools/api-client/src/types/setup.ts
  packages/commercetools/theme/middleware/commercetools.js
  packages/commercetools/theme/nuxt.config.js
  packages/commercetools/theme/plugins/commercetools.js
Due: commercetools-api-client

token handling
  packages/core/docs/commercetools/api-client.md
Due: none

basket ssr
  packages/core/factories/__tests__/useCartFactory.spec.ts
  packages/core/factories/src/useCartFactory.ts
  packages/core/theme-module/theme/components/AppHeader.vue
  packages/core/theme-module/theme/components/CartSidebar.vue
  packages/core/theme-module/theme/components/checkout/CartPreview.vue
  packages/core/theme-module/theme/pages/Product.vue
Due: none

refactored and updated factories + tests
  packages/commercetools/composables/src/useUser/factoryParams.ts
  packages/commercetools/composables/src/useUserAddress/factoryParams.ts
  packages/commercetools/composables/src/useUserAddress/index.ts
  packages/core/factories/__tests__/useUserAddress.spec.ts
  packages/core/factories/src/useUserAddressFactory.ts
  packages/core/interfaces/src/index.ts
  packages/core/theme-module/theme/pages/MyAccount.vue
  packages/core/theme-module/theme/pages/MyAccount/MyProfile.vue
  packages/core/theme-module/theme/pages/MyAccount/ShippingDetails.vue
Due: commercetools-composables

disable rfc ssr
  packages/core/rfcs/disabling-ssr-for-composables.md
Due: none

refactor(core-theme): use pagination defaults from config in theme
  packages/core/theme-module/theme/pages/Category.vue
Due: none

refactor(commercetools): use pagination defaults from config
  packages/commercetools/api-client/src/index.ts
  packages/commercetools/api-client/src/types/setup.ts
  packages/commercetools/composables/__tests__/helpers/mapPaginationParams.spec.ts
  packages/commercetools/composables/__tests__/useProduct/useProduct.spec.ts
  packages/commercetools/composables/src/helpers/internals/index.ts
  packages/commercetools/composables/src/helpers/internals/mapPaginationParams.ts
  packages/commercetools/composables/src/helpers/mapPaginationParams.ts
  packages/commercetools/composables/src/useProduct/index.ts
Due: commercetools-api-client, commercetools-composables

feat(commercetools): add pagination config to api client
  packages/commercetools/api-client/src/index.ts
  packages/commercetools/api-client/src/types/setup.ts
  packages/commercetools/theme/plugins/commercetools-config.js
Due: commercetools-api-client

written rfc for composable relations
  packages/core/rfcs/composable-relations.md
Due: none

Path conditions:
  commercetools-api-client: any of: packages/commercetools/api-client, but not: packages/commercetools/api-client/tests, packages/commercetools/composables/tests, packages/commercetools/helpers/tests
  commercetools-composables: any of: packages/commercetools/composables, but not: packages/commercetools/api-client/tests, packages/commercetools/composables/tests, packages/commercetools/helpers/tests
  commercetools-helpers: any of: packages/commercetools/helpers, but not: packages/commercetools/api-client/tests, packages/commercetools/composables/tests, packages/commercetools/helpers/tests
